@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat&display=swap');

body{
    background-color: #CCFF99;
}

.wrapper {
    width: 1420px;
    padding-left: 20px;
    padding-right: 30px;
    font-family: 'Montserrat', sans-serif;
}

.header {
    font-size: 32px;
}

.description{
    font-size: 20;
}

li:hover{
    color: pink;
}

a{
    text-decoration: none;
}

img{
    width: 400px;
    border-radius: 5px;
}